{% extends 'base.html' %}
{% block title %}Tech-shop{% endblock title %}
{% block body %}
<div class="container-fluid px-0 mb-3">
<img src="/static/cont.jpg"" class="d-block w-100 mx-0" alt="...">

</div>

<div class="container">
<h1 class="text-center">Contact Us</h1>
<form class="row g-3" method="POST" action="/contact">
{% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="col-md-6">
    <label for="" class="form-label">Phone</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="+91-">
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
 
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address</label>
    <textarea type="text" class="form-control" id="address" row="3" name="address"placeholder="Apartment, studio, or floor"></textarea>
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">submit</button>
  </div>
</form>
</div>
{% endblock body %}
